 <h1>Edit Photo</h1>

<%= form_for(@photo, :html => {:multipart => true}) do |f| %>

<%= f.label :image %>
<%= f.cl_image_upload :image, :required => true%>

<%= f.label :description %>
<%= f.text_field :description %>


<%= f.submit 'Update photo'%>
<% end %>
