<h1>New Photo</h1>

<%= form_for(@photo, :html => {:multipart => true}) do |f| %>

<div class="mb-3">
  <%= f.label :image, :class => "form-label"%>
  <div class="form-File">
    <br><%= f.cl_image_upload :image %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description, :class => 'form-control' %>
</div>




<%= f.submit 'post photo', :class=>"btn btn-outline-primary" %>
<% end %>
