<div class="photo-show"><%= cl_image_tag @photo.image, :class => 'feature' %>
</div>

<% if @current_user.present? && session[:user_id] == @user.id %>
  <div class="photo_show_controls">
     <%= link_to "✎ Edit", edit_photo_path(@photo) %>
     <%= link_to "✕ Delete", @photo, :method => 'delete' %>
  </div>
<% end %>

<p class="user_below_photo">
  <%= cl_image_tag @user.image, :class => 'profile', :alt => @user.name %> <%= link_to @user.name, @user %> <%= @photo.description %></p>



<div class="comment-section">
    <h4><%= pluralize(@photo.comments.count, "comment") %></h4>
    <% @photo.comments.each do |comment| %>
         <p class="comment">
         <%= cl_image_tag comment.user.image, :class => 'profile_s', :alt => comment.user.id %> <%= link_to comment.user.name, comment.user %> [<%=comment.updated_at.strftime("%e-%b-%Y %H:%M ")%>]: <%= comment.content %>



         <% if @current_user.present? && session[:user_id] == comment.user.id %>
         <%= link_to "✎", edit_photo_comment_path(@photo.id, comment.id ) %>
         <%= link_to "✕", [comment.photo, comment], :method => 'delete' %>
         <% end %>
         </p>

  <% end %>

    <div >
        <%= render 'comments/form' %>
    </div>

</div>
