<%= image_tag @photo.image, :class => 'feature' %>

<% if @current_user.present? && session[:user_id] == @user.id %>
  <div class="controls">
     <%= link_to "Edit photo", edit_photo_path(@photo) %>
     <%= link_to "Delete photo", @photo, :method => 'delete' %>
  </div>
<% end %>

<p class="user_below_photo">
  <%= image_tag @user.image, :class => 'profile', :alt => @user.name %> <%= link_to @user.name, @user %> <%= @photo.description %></p>



<div class="comment-section">
    <h2><%= pluralize(@photo.comments.count, "comment") %></h2>
    <% @photo.comments.each do |comment| %>
       <p>
         <%= image_tag @user.image, :class => 'profile', :alt => @user.name %><%= comment.user.name %> [<%=comment.updated_at.strftime("%e-%b-%Y %H:%M ")%>]: <%= comment.content %>
       </p>
       <div class="comment_controls">

         <% if @current_user.present? && session[:user_id] == comment.user.id %>
         <%= link_to "Edit comment", edit_photo_comment_path(@photo.id, comment.id ) %>
         <%= link_to "Delete comment", [comment.photo, comment], :method => 'delete' %>
         <% end %>
      </div>
  <% end %>

    <div class="comment-form">
        <%= render 'comments/form' %>
    </div>

</div>
